body {
	cursor: url(../media/cursor/cursor.png), auto;
	margin: 0px;
}

.container {
	height:100vh;
	width: 100%;
	background-image: url(../media/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.top {
	height: 30%;
}

.bottom {
	margin-left: 3%;
	margin-right: 3%;
	height: 70%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.center {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

.front-card-img {
	height: 100%;
	width: 100%;
}

.back-card-img {
	height: 100%;
	width: 100%;
}

.flip-card {
	cursor: url(../media/cursor/cursor_active.png), auto;
	height: 250px;
	width: 150px;
  	perspective: 1000px;
	margin: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card.active .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  color: black;
}

.flip-card-back {
  color: white;
  transform: rotateY(180deg);
}

.prize {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	height: 100vh;
	width: 100vw;
}

.prize-img {
	height: 100%;
	width: 100%;
}